body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Projet-manager.png'); 
    background-size: cover;
    background-position: center;
    color: #333;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
     height :100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom:30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}